{% load static %}
<body>
    {% include 'navigation.html' %}

    <div class="container mt-4">
        <h2>Bidder Dashboard</h2>

        <div>
            <h3>Profile</h3>
            <p><strong>Username:</strong> {{ bidder_profile.username }}</p>
            <p><strong>Email:</strong> {{ bidder_profile.email }}</p>
            <p><strong>Role:</strong> {{ bidder_profile.role }}</p>

            <!-- Logout Button -->
            <form action="{% url 'LogOut' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-4">Logout</button>
            </form>
        </div>

        <hr>

        <!-- Bids Placed by the Bidder -->
        <h3>Your Bids</h3>
        {% if bids_placed %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Your Bid Amount</th>
                    <th scope="col">Starting Price</th>
                    <th scope="col">Auction End Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for bid_item in bids_placed %}
                <tr>
                    <td>{{ bid_item.bid.item_name }}</td>
                    <td>${{ bid_item.bid_amount }}</td> <!-- Displaying the bid_amount as "Your Bid" -->
                    <td>${{ bid_item.bid.starting_price }}</td>
                    <td>{{ bid_item.bid.auction_end_time|date:"F j, Y, g:i a" }}</td>
                    <td>
                        <a href="{% url 'bid_detail' bid_id=bid_item.bid.id %}" class="btn btn-info">View Item Details</a>

                        <!-- Display Checkout button for highest bid if payment is not completed -->
                        {% with now=timezone.now %}
                        {% if bid_item.is_highest_bid and not bid_item.payment_completed %}
                        <a href="{% url 'checkout' bid_item.bid.id %}" class="btn btn-success">Checkout</a>
                        {% endif %}
                        {% if bid_item.bid.auction_end_time <= now %}
                            <p>Auction has ended.</p>
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">
            You have not placed any bids yet.
        </div>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>